body.l1 {
  height: 100%;
  overflow: shown;
  background-image: url("bg.00.png");  
}
img {
position:relative;
}
#sword {
  left: 50%;
  top: 50%;
  position: absolute;
}

#swordImg {
  width: 50%;
  height: 50%;
}

#LevelTransfer {
  position: absolute;
  left: 42%;
  top: 60%;
  width: 80%;
  height: 80%;
}

