#nme {
    width: 150%;
}
#nmeDiv {
    position: absolute;
    left: 70%;
    top: 40px;
}

#char{
    width: 250%;
}
#charDiv {
    position: absolute;
    top: 70%;
    left: 100px;
}
#FightButton {
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    left: 30%;
    top: 60%
}
#RunButton {
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    left: 30%;
    top: 80%
}

#lifeBarNme {
    position: absolute;
    top: 50%;
    left: 80%;
}

#lifeBarChar {
    position: absolute;
    left: 10%;
    top: 45%;
}