#img {
  position: absolute;
}
body.l2 {
    height: 100%;
    overflow: hidden;
    background-image: url("caveBg.png")  
  }
#nme1 {
  position: absolute;
  left: 40%;
  top: 60%;
}
#nme {
  width: 80%;
  height: 80%;
}

#imgBeta {
  position: absolute;
  left: 47%;
  top: 60%;
}

#door {
  position: absolute;
  top: 85.6%;
  left: 40%;
}

#doorimg {
  width: 150%;
  height: 150%;
}

.invSlot {
  background-color: rgba(20, 20, 20, 0.75);
  background-repeat:no-repeat;
  background-size:47%;
  background-position: center;
  background-repeat: no-repeat;
}

#slot1 {
  background-image: url('../InventoryAssets/Key-trimmy.png');
}