#img {
  left: 50px;
  top: 10px;
  position: absolute;
}

body.l1 {
  height: 100%;
  overflow: hidden;
  background-image: url("bg.png")
}

#sword {
  left: 50%;
  top: 50%;
  position: absolute;
}

#swordImg {
  width: 120%;
  height: 120%;
}

#LevelTransfer {
  position: absolute;
  left: 42%;
  top: 60%;
  width: 80%;
  height: 80%;
}

.invSlot {
  background-color: rgba(20, 20, 20, 0.75);
  background-repeat:no-repeat;
  background-size:47%;
  background-position: center;
}
